<h1>Kelola Pesanan</h1>
<table>
    <thead>
        <tr>
            <th>ID Pesanan</th>
            <th>Nama Pelanggan</th>
            <th>Total Harga</th>
            <th>Tanggal Pesanan</th>
        </tr>
    </thead>
    <tbody>
        <% pesanan.forEach(item => { %>
            <tr>
                <td><%= item.kd_pesan %></td>
                <td><%= item.nama_pelanggan %></td>
                <td>Rp <%= item.total_harga %></td>
                <td><%= item.tgl_pesan %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
