<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <input type="text" name="nama" placeholder="Nama Lengkap" required />
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <button type="submit">Daftar</button>
    </form>
</body>
</html>
