<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog Bunga</title>
</head>
<body>
    <h1>Katalog Bunga</h1>
    <ul>
        <% bunga.forEach(item => { %>
            <li>
                <h2><%= item.nama_bunga %></h2>
                <p><%= item.deskripsi %></p>
                <p>Harga: Rp <%= item.harga %></p>
                <p>Stok: <%= item.stok %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>